@import '~bootstrap/scss/bootstrap';

body {
	min-height: 100vh;
}

// .nav.nav-pills {
// 	.nav-link {
// 		font-size: 2rem;
// 	}
// }

p.fs-1 {
	font-size: calc(3.375rem + 1.5vw) !important;
}
.progress {
	margin: 0 2em;
}
